doctype html
html
  head
    -const variable = true;
    -const title = '익스프레스';
    -const title2 = '안녕';
    title= title + ' ' + title2
    link(rel='stylesheet', href='/stylesheets/style.css')
   
  body

    include header
    block content
    

    include footer


    script.
        var messages = 'pug';
        alert(messages);