doctype html
html
  head
    -const title = '익스프레스';
    -const title2 = '안녕';
    title= title + ' ' + title2
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
        h1 {
            color : red;
        }
        #thisIsIdName {
            color : blue;
        }
        .ThisIsClassName {
            font-size : 25px;
            color : green
        }

  body
    div#thisIsIdName() thisIsIdName
    //- <div id ="thisIsIdName"></div>
    span.ThisIsClassName() ThisIsClassName
    //- <span class = "ThisIsClassName"></span>
    button(type="submit") 전송
    //- <button type="submit">전송</button>
    p
        | 안녕하세요
        | 여러 줄을 입력합니다.
        br
        | 태그도 중간에 넣을 수 있습니다.
    script.
        var messages = 'pug';
        alert(messages);